<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.petersburg_studio.prazdnikraduga">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/raduga_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/raduga_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity
            android:name=".test.homescreen.TestActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".stub.StubActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Other2ndActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- SEASON DETAIL ACTIVITY -->
        <activity
            android:name=".SeasonHolidayDetailActivity"
            android:parentActivityName=".Other2ndActivity"
            android:screenOrientation="portrait" /> <!-- THEMATIC DETAIL ACTIVITY -->
        <activity
            android:name=".ThematicPartyDetailActivity"
            android:parentActivityName=".Other2ndActivity"
            android:screenOrientation="portrait" /> <!-- ADDITIONAL DETAIL ACTIVITY -->
        <activity
            android:name=".AdditionalServicesDetailActivity"
            android:parentActivityName=".Other2ndActivity"
            android:screenOrientation="portrait" /> <!-- MASTERS DETAIL ACTIVITY -->
        <activity
            android:name=".MasterDetailActivity"
            android:parentActivityName=".Other2ndActivity"
            android:screenOrientation="portrait" /> <!-- SHOWS DETAIL ACTIVITY -->
        <activity
            android:name=".ShowDetailActivity"
            android:parentActivityName=".Other2ndActivity"
            android:screenOrientation="portrait" /> <!-- ANIMATORS DETAIL ACTIVITY -->
        <activity
            android:name=".AnimatorDetailActivity"
            android:parentActivityName=".AnimatorsActivity"
            android:screenOrientation="portrait" /> <!-- ANIMATORS ACTIVITY -->
        <activity
            android:name=".AnimatorsActivity"
            android:label="@string/animators"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" /> <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>